.footer {
    background-color: #03f7e2;
    color: #060606;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 0%;
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
}

.box {
    width: 23%;
    margin: 10px;
    text-align: left;
}

.box h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.box p {
    margin-bottom: 10px;
}

.share a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
}

.links {
    display: block;
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
}

.links i {
    margin-right: 10px;
}


.email {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
}

.payment-img {
    width: 100px;
    margin-top: 10px;
}

.credit {
    margin-top: 20px;
}
