/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: #f0f2f5;
    padding-top: 10%;

}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Form */
.login-form, .login-success, .forgot-password-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}

/* Success Message */
.login-success p {
    font-size: 1.2rem;
    color: #333;
}

.login-success a {
    color: #007bff;
    text-decoration: none;
}

.login-success a:hover {
    text-decoration: underline;
}

/* Form Title */
.login-form h1, .forgot-password-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

/* Form Labels */
.login-form label, .forgot-password-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
}

/* Form Inputs */
.login-form input, .forgot-password-form input {
    width: calc(100% - 2rem);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Form Button */
.login-form button, .forgot-password-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover, .forgot-password-form button:hover {
    background-color: #0056b3;
}

/* Links */
.login-form .signup-link a, .forgot-password-form .cancel-link a {
    color: #007bff;
    text-decoration: none;
}

.login-form .signup-link a:hover, .forgot-password-form .cancel-link a:hover {
    text-decoration: underline;
}

.forgot-password-form {
    display: block; /* Ensure it is displayed */
    position: absolute; /* Positioned relative to parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Ensure it appears on top */
}
