/* General Blog Styling */
.blog {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10%;
    color: black;
}

.blog h1 {
    text-align: center;
    margin-bottom: 20px;
}

.button-group {
    text-align: center;
    margin-bottom: 20px;
}

.button-group button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: rgb(16, 15, 15);
    cursor: pointer;
}

.button-group button:hover {
    background-color: #0056b3;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog-posts {
    margin-bottom: 40px;
}

.blog-post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog-post h2 {
    margin-bottom: 10px;
}

.blog-post button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.blog-post .edit {
    background-color: green;
}

.blog-post .delete {
    background-color: red;
}

.blog-form {
    display: flex;
    flex-direction: column;
}

.blog-form label {
    margin-bottom: 5px;
}

.blog-form input,
.blog-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0ea126;
    color: white;
    cursor: pointer;
}

.blog-form button:hover {
    background-color: #0cc32e;
}
